
<div class="row mt-5">
  <div class="card  col-lg-4 mx-6 "
  *ngFor="let product of Allproducts "
  style="width: 250px;">
  <a  [routerLink]="['/productdetails',product.id]" >
    <img
    src= "{{ product.image}} "
class="card-img-top" alt="...">
  </a>

    <div class="card-body">
      <h5 class="card-title" > {{product.title}}</h5>
      <p class="card-text" *ngIf="product.showDetails">
        {{product.description}}</p>
        <div class="row">
        <button class="btn btn-primary">Add to card</button>

      <button class="btn btn-success" (click)="toggleDescripion(product.id)">
        {{ product.showDetails? "Hide" : "Show" }}Details

      </button>
        </div>
        </div>
      </div>
